body {
    background-color: #222426;
    color: rgb(255, 255, 255);
}

.settings {
}


/*  liste des causes    */


/* checkbox */
.checkbox {
  margin-left: 5px;
  margin-top: 5px;
}
input[type='checkbox'] {
  accent-color: rgb(190, 37, 37);
}