body {
    background-color: #222426;
    color: rgb(255, 255, 255);
}

.settings {
    background-color: rgb(72, 72, 72);
}

.visu {
    background-color: rgb(72, 72, 72);
}

/*  liste des causes    */
.dropdown-menu {
  background-color: #d1d1d112;
  color: aliceblue;
}

/* checkbox */
.checkbox {
  margin-left: 5px;
  margin-top: 5px;
}
input[type='checkbox'] {
  accent-color: rgb(190, 37, 37);
}