body {
    background-color: #222426;
    color: rgb(255, 255, 255);
}

.Visualization{
  display: flex;
}

.map{
  width: 100%;
  min-width: 400px;
}


/*  liste des causes    */


/* checkbox */
.checkbox {
  margin-left: 5px;
  margin-top: 5px;
}
input[type='checkbox'] {
  accent-color: rgb(190, 37, 37);
}